.tanglaw__category {
    font-family: var(--font-family);
}

.tanglaw__category-container {
    position: relative;
    height: auto;
    background: #fff;
    border-radius: 6px;
    color: #000;
    display: block;
    padding: 24px 20px;
    margin: 1rem 10%;
    overflow: visible;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.tanglaw__category-text h3 {
    color: #000;
}
.tanglaw__category-text a {
    z-index: 5;
    text-decoration: none;
    color: #730702;
}

.tanglaw__category-text a:hover {
    text-decoration: underline;
    color: #A1231E;
}

.tanglaw__category p {
    z-index: 5;
    padding: 0 2rem;
}

.tanglaw__category-text #segment {
    padding-top: 1rem;
}

/* expandable */
details {
    user-select: none;

}

details>summary span.icon {
    width: 24px;
    height: 24px;
    transition: all 0.3s;
    margin-left: auto;
}

details[open] summary span.icon {
    transform: rotate(180deg);
}

details a {
    padding: 10px 0 0 20px;
}

details li{
    padding: 3px;
    list-style: none;
}

summary {
    display: flex;
    cursor: pointer;
}
summary p{
    padding: 10px 0 0 10px;
}

summary::-webkit-details-marker {
    display: none;
}

/*****/
.alphabet{
    text-align: center;
}

.alphabet li{
	display: inline-block;
}

.alphabet a {
    margin: .7rem;
}

.alphabet a:hover{
    background-color: #A1231E;
    color: white;
    text-decoration: none;
    padding: .3rem;
    font-weight: 1000;
}