.tanglaw__cards {
    padding-top: 1rem;
    font-family: var(--font-family);
}

.tanglaw__cards-container {
    position: relative;
    height: auto;
    background: #fff;
    border-radius: 6px;
    color: #000;
    display: block;
    padding: 2rem;
    margin: 0 10%;
    overflow: visible;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.tanglaw__cards-container h3 {
    font-size: x-large;
}

.tanglaw__cards-tags p {
    padding-top: 2rem;
    font-size: smaller;
    display: inline-block;
    margin: 0;
    padding: 2rem 5% 0 5%;
}

.tanglaw__cards-text p{
    color: black;
}
.tanglaw__cards-container a, h3 {
    z-index: 5;
    text-decoration: none;
    color: var(--color-button);
}

.tanglaw__cards-container h4 {
    font-style: italic;
    padding-bottom: 1rem;
}

.tanglaw__cards-tags a:hover{
    text-decoration: underline;
    color: var(--color-hover);
}
